{:kotoba.app/id "cloud.itonami.isic-7990", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidfr2oc3ixkxr6cg7thdtistjrqclazsrsuw5skydsft2326ft4ye", :kotoba.app/embed-url "ipfs://bafkreidfr2oc3ixkxr6cg7thdtistjrqclazsrsuw5skydsft2326ft4ye", :published {:archive "https://kotobase.net/ipfs/bafkreidfr2oc3ixkxr6cg7thdtistjrqclazsrsuw5skydsft2326ft4ye", :size 73234, :put-status 201, :get-status 200, :at "2026-08-15T13:36:56.736Z"}}
